@media only screen and (max-width: 829px) and (min-width: 50px) {

    .mui {
        display: block !important;
    }

    .mhdn {
        display: none !important;
    }

    .mpd-15 {
        padding: 15px !important;
    }

    .mpd-0 {
        padding: 0px !important;
    }

    .mnw-100p {
        width: 100% !important;
    }

    .mnw-90p {
        width: 90% !important;
    }

    .mnw-390 {
        width: 390px !important;
    }

    .mnw-320 {
        width: 320px !important;
    }

    .mnh-ft{
        height: fit-content !important;
    }

    .mnh-370 {
        height: 370px !important;
    }

    .mnh-59p {
        height: 59% !important;
    }

    .mmgn-0 {
        margin: 0 !important;
    }

    .mmgnt-50 {
        margin-top: 50px !important;
    }

    .mrt-40 {
        right: 40px !important;
    }

    .mlf-50 {
        left: 50px !important;
    }

    .mmgnl-15 {
        margin-left: 15px !important;
    }

    .mmgnt-0 {
        margin-top: 0px !important;
    }

    .mmgnt-340 {
        margin-top: 340px !important;
    }

    .mxw-0 {
        max-width: unset !important;
    }

    .mbtn-30 {
        bottom: 30px !important;
    }

    .mbt-40 {
        bottom: 40px !important;
    }

    .mbt--15 {
        bottom: -15px !important;
    }

    .mfs-10 {
        font-size: 10px !important;
    }

    .mfs-12 {
        font-size: 12px !important;
    }

    .mfs-14 {
        font-size: 14px !important;
    }

    .mfs-16 {
        font-size: 16px !important;
    }

    .mtal {
        text-align: left !important;
    }

    .hvr-shw {
        opacity: 1 !important;
    }

    .info-box2 {
        bottom: 30px !important;
        padding: 5px !important;
    }

    .info {
        font-weight: 300 !important;
        gap: 5px !important;
        font-size: 12px !important;
        margin-bottom: 5px !important;
    }

    .info i {
        font-size: 14px !important;
    }

    .profile-card {
        padding: 5px 16px !important;
        width: 173px !important;
    }

    .skill-card {
        display: flex !important;
        justify-content: flex-start !important;
        width: 215px !important;
        margin-left: 25px !important;
    }

    .skills-icon {
        width: 50px !important;
        height: 50px !important;
        margin-top: 0px !important;
        margin-left: -45px !important;
        margin-bottom: 0px !important;
    }

    .skills-container {
        margin-top: 165px !important;
    }

    .swiper-slidz {
        height: 86% !important;
    }
}